.mb1 {
  margin-bottom: 1rem;
}
.mt-75 {
  margin-top: 0.75rem;
}
.mb2-25 {
  margin-bottom: 2.25rem;
}

.anticon {
  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.item{
  &__our-foods{
    grid-column: 4/7;
    grid-row: 3/4;
  }
  &__best-foods{
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
.anticon{
  width: fit-content;
  height: fit-content;
  margin-right: .5rem;
}